<!DOCTYPE html>


{% extends "layout.html" %} {% block title %} Add Book {% endblock %} {% block
main %}
<h3>Add a bookshelf</h3>
<p>{{ message }}</p>
<div>
	<form action="/add_bookshelf" enctype="multipart/form-data" method="post">
		<input class="form-control mb-3"
			autocomplete="off"
			default="1"
			min="1"
			name="width"
			placeholder="How many shelves wide?"
			type="number"
		/>
		<input class="form-control mb-3"
			autocomplete="off"
			default="1"
			min="1"
			name="height"
			placeholder="How many shelves high?"
			type="number"
		/>
		<input class="form-control mb-3"
			autocomplete="off"
			name="description"
			placeholder="Give the shelf a name"
			required
		/>
		<div class="input-group">
			<input accept="jpg" class="form-control" name="image" type="file" />
			<button class="btn btn-primary" name="add" type="submit">Add</button>
		</div>
	</form>
</div>
<div>
	<img src="{{path}}" />
</div>

{% endblock %}
